@font-face {
    font-family: 'TransformersMovie';
    src: url(../fonts/TransformersMovie-y9Ad.ttf);
}

*{
    font-family: 'TransformersMovie';
}

body{
    background-color: rgb(151, 151, 151);
}

.title{
    color: black;
    text-align: center;
}


.projects{
    max-width: 640px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}


li{
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
}

.progress {
    background-color: #f3f3f3;
    border-radius: 13px;
    overflow: hidden;
    margin: 5px 0;
    display: flex;
}

.progress-bar {
    height: 20px;
    background-color: #4caf50;
}

.content {
    display: flex;
    gap: 8rem;

}

.sidebar{
    width: 20%;
    border: 1px solid black;
    margin-left: 4rem;
    text-align: center;
    max-height: 570px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    word-wrap: break-word; /* Ajusta el texto para que no se salga del contenedor */
}

.sidebar-li{
    font-size: 16px;
    margin-bottom: 0.5rem;
    text-decoration: none;
    list-style: none;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    word-wrap: break-word; /* Ajusta el texto para que no se salga del contenedor */
}

.skill-item {
    cursor: pointer;

}

.skill-item:hover{
    color: brown;
}


.sidebar img{
    border-radius: 50%;
    width: 50%;
    height: 25%;
    border: 1px solid black;
}

.main-content{
    width: 50%;
    border: black solid 1px;
}

.sidebar, .main-content, .div-form{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 10px; /* Opcional, para bordes redondeados */
    background-color: white; /* Ajusta según sea necesario */
    padding: 20px; /* Ajusta según sea necesario */
}

.h2-contacto{
    text-align: center;
}

.section-form{
    max-width: 640px;
    border: 1px solid rgb(0, 0, 0);
    padding-bottom: 5px;
}

.div-btn{
    text-align: center;
}



/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .content {
        gap: 1rem;
    }

    .sidebar {
        width: 25%;
    }

    .main-content {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .sidebar, .main-content, .div-form {
        width: 90%;
        margin: 1rem auto;
    }


    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .sidebar, .main-content, .div-form {
        width: 100%;
        margin: 0.5rem auto;
    }

    .sidebar img {
        width: 70%;
    }
}